



ul{
   display:flex; 
   width: 100%;
   background-color: lightgray;
   height: 7vh;
}

ul li{
    justify-content: space-between;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 1%;
}

ul li Link{
    text-decoration: none;
    color: blue;
}

